.statistic-box {
    border-radius: 10px;
    transition: transform 0.3s;
}
.statistic-box:hover {
    transform: scale(1.05);
}
.service-box {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.3s;
}
.service-box:hover {
    transform: scale(1.05); /* Slight scale on hover */
}
.job-box {
    background-color: #ffffff; /* White background for boxes */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.3s;
}
.job-box:hover {
    background-color: #CA2B2D;
    color: white;
    transform: scale(1.02); /* Slight scale on hover */
}

.job-title {
    font-size: 1.25rem; /* Job title font size */
}
.job-description {
    font-size: 0.9rem; /* Job description font size */
}
.salary {
    font-weight: bold; /* Bold salary text */
    font-size: 1.2rem; /* Salary font size */
}
a {
    text-decoration: none;
    color: black;            
}
a:hover {
    color: black
}
.auth-link {
    color: #CA2B2D; /* Red color for auth links */            
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.auth-link:hover {
    background-color: #B22222; /* Darker red on hover */
    color: white; /* Change text color to white on hover */
}

.nav-link {
    color: white; /* Normal link color */
    transition: color 0.3s; /* Transition for hover effect */
}

.nav-link:hover {
    color: #B22222; /* Darker red on hover */
}

.login-link {    
    background-color: #952323; /* Red color for auth links */            
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.login-link:hover {
    color: #821F1F; /* Red color for auth links */   
}

.navbar-toggler {
    background-color: #CA2B2D; /* Red background for mobile menu button */
    color: white; /* White text color */
}

.navbar-toggler:hover {
    background-color: #B22222; /* Darker red on hover */
}

.msg-status {
    font-size:large;
    font-weight:bold
}

@media (max-width: 768px) {
    .job-title {
        font-size: 1rem; /* Job title font size */
    }
    .job-description {
        font-size: 0.5rem; /* Job description font size */
    }
    .salary {       
        font-size: 1rem; /* Salary font size */
    }

    .msg-status {
        font-size: 0.5rem;
        
    }
}

@media (max-width: 576px) {
    .job-title {
        font-size: .75rem; /* Job title font size */
    }
    .job-description {
        font-size: 0.5rem; /* Job description font size */
    }
    .salary {       
        font-size: .75rem; /* Salary font size */
    }
    .msg-status {
        font-size:0.5rem;
        
    }
}

.container {
    flex-grow: 1;    
}
.smaller {
    width: 30%; 
    min-height: 850px;
    
}
.larger {
    width: 70%;
    min-height: 850px;
    padding: 24px;
    
}       
.vertical-menu {
    height: 100%; 
    padding: 0; 
}
.vertical-menu a {
    padding: 10px 15px; 
    text-decoration: none; 
    color: #000; 
    display: block; 
}
.vertical-menu a:hover {
    background-color: #E7E0DC; 
}

.vertical-menu a.active {
    background-color: #E7E0DC;
    border-left: 4px solid #B22222; 
    font-weight: bold; 
}

.h2 {
    transition: border-left 0.3s; 
}

.h2:hover {
    border-left: 4px solid #B22222; 
    padding-left: 12px; 
    background-color: #E7E0DC;
}

.statistic-box {
    height: 200px; 
    display: flex; 
    border: 1px solid #dee2e6; 
    margin-bottom: 20px; 
}

.statistic-left {
    flex: 1; 
    position: relative; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.statistic-right {
    flex: 2; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    background-color: #E7E0DC;
}

.statistic-right .title {
    font-size: 14px; 
    color: #6c757d; 
}

.statistic-right .number {
    font-size: 36px; 
    font-weight: bold; 
}


.statistic-left img {
    max-width: 50%; 
    max-height: 80%; 
    position: absolute; 
}

@media (max-width: 768px) {
    .smaller {
        position: absolute; /* Allow it to overlap */
        top: 80; /* Align it to the top */
        left: 0; /* Align it to the left */
        width: 100%;
        height: 100%;
        z-index: 3; /* Bring it above the larger container */
    }
}

